{% extends 'base.html.twig' %}
{% block body %}

<style>
.a{
    margin-left:500px;
     margin-right:500px;
        margin-top:50px;
}</style>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active cl" href="/">
                <span data-feather="home"></span><i class="fas fa-home"></i>
               home<span class="sr-only"></span>
              </a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link active cl" href="/company/inventory">
                <span data-feather="home"></span> <i class="fas fa-boxes"></i>
                Inventory <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cl" href="/company/product">
                <span data-feather="file"></span><i class="fas fa-dolly-flatbed"></i>
                Storage
              </a>
            </li><li class="nav-item">
              <a class="nav-link cl" href="/company/transaction">
                <span data-feather="file"></span><i class="fas fa-shopping-cart"></i>
               Transactions
              </a>
            </li>
            
            </li>{% if  is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link cl" href="/company/licence">
                <span data-feather="file"></span><i class="fas fa-stamp"></i>
               Licences
              </a>
            </li>
             
            <li class="nav-item">
              <a class="nav-link cl" href="/company/users">
                <span data-feather="file"></span><i class="fas fa-users"></i>
               Users
              </a>
            </li>
          </ul>
  
            {% endif %}
        </div>
        <br> <br> <br> <br> <br> <br> <br> 
      </nav><br>  <br> <br> <br> <br> <br> <br> <br>
      
      <div class="container"><br><br><br>
        <div class="card" style=" width:50rem;">
  <div class="card-header" >
   <strong> Add a New  User</strong>
  </div>
  <div class="card-body">
    {{form_start(form)}}
    <p class="card-text">{{form_row(form.email,{'attr':{'placeholder':'xyz@gmail.com'}})}}</p>
    <p class="card-text">{{form_row(form.username,{'attr':{'placeholder':'Type in your username'}})}}</p>
    <button type="submit" class="btn btn-info float-right">Submit</button>
     {{form_end(form)}}
  </div>
</div>

{% endblock  %}
