{% extends 'base.html.twig' %}

   
     
      {% block stylesheets %}
            <link rel="stylesheet" href="/main.css">
              {% endblock %}
{% block body %}
<style>
.form-wrapper {     
    width: 300px;           /* Set this to your convenience */
    height: 200px;          /* Set this to your convenience */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -110px;     /* Half of height */
    margin-left: -150px;     /* Half of width */
}</style>
<form class="form-wrapper">
<div class="container"></div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}