{% extends 'base.html.twig' %}
{% block body %}
      <style>
      .blue{
        float:right;
     
          margin-bottom:10px;
          margin-left:400px;
      }
        .space{
        float:right;
      
          margin-left:150px;
      }
      .a{
          float:right;
      }
      h2{color:#485785}</style>
     <section id="main-content">
	<section class="wrapper">
  <div class="table-agile-info">
 
<h2>Reset Password</h2>
{{form_start(form)}}


<br><br><br>
{{form_end(form)}}
<form method="post">
<label for="pwd">Password:</label>
<input type="password" id="pwd" name="pass1">
<label for="pwd">Password 2:</label>
<input type="password" id="pass2" name="pass2">
<button type="submit">oui</button>
</form><br><br><br><br></div><br><br><br><br><br><br><br><br>
</section>
</section>
{% endblock %}